<div class="page-layout">
  <div class="page-header">
    <button mat-icon-button [routerLink]="['/']" class="go-back">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <div class="title">{{ planet ? (planet.name | uppercase) : null }}</div>
  </div>
  <div class="page-body">
    <div class="data" *ngIf="isReady">
        <div class="planet-info">
        <div class="text">Climate: <strong>{{ planet.climate | titlecase }}</strong></div>
        <div class="text">Terrain: <strong>{{ planet.terrain | titlecase }}</strong></div>
        <div class="text">Diameter: <strong>{{ planet.diameter}}</strong></div>
        <div class="text">Rotation Period: <strong>{{ planet.rotation_period }}</strong></div>
        <div class="text">Orbital Period: <strong>{{ planet.orbital_period }}</strong></div>
        <div class="text">Gravity: <strong>{{ planet.gravity | titlecase }}</strong></div>
        <div class="text">Surface Water: <strong>{{ planet.surface_water }}</strong></div>
        <div class="text">Population: <strong>{{ planet.population }}</strong></div>
      </div>
      <div class="planet-drawing">
        <div class="no-data" *ngIf="planet.diameter === '0' || planet.diameter === 'unknown'"><span>?</span></div>
        <app-planet-drawing
          *ngIf="planet.diameter !== '0' && planet.diameter !== 'unknown'"
          [diameter]="planet.diameter"
          [rotationPeriod]="planet.rotation_period"
          [climate]="planet.climate">
        </app-planet-drawing>
      </div>
    </div>
    <div class="spinner" *ngIf="!isReady">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
