<div class="mat-app-background">
  <div class="header mat-elevation-z8">
    <div class="title">
      <a [routerLink]="['/']">
        <img
          width="40"
          alt="Angular Logo"
          src="../assets/512px-Star_wars2.svg.png"
          routerLink="/"
        />
      </a>
      <a href="https://swapi.dev/documentation#planets">{{title}}</a>
    </div>
    <div class="mode">
      <mat-icon class="mr-8">face</mat-icon>
      <mat-slide-toggle [formControl]="toggleControl" class="slider mr-8">
      </mat-slide-toggle>
      <mat-icon>pie_chart</mat-icon>
    </div>
  </div>

  <div class="layout">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <span class="text">Develop by Mati Simone</span>
  </div>
</div>
